/* 지마켓산스 */
@font-face {
  font-family: 'GmarketSansL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/* 프리텐다드 */
@font-face {
  font-family: 'PretendardR';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PretendardM';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PretendardBo';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PretendardBl';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'GmarketSansM';
  color: #3d2727;
}
body {
  margin: 0; padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
}
p, span {
  margin: 0; letter-spacing: -1px;
  font-size: 22px;
}

.intro {
  width: 100%; height: 1080px;
  background-image: linear-gradient(to bottom right, #f9d25d, #f4c551);
  position: relative; display: flex; align-items: center; justify-content: center;
}
.intro > .circle-1 {
  width: 514px; height: 514px; border-radius: 50%; background-color: #f7f5ec;
  opacity: 0.1; position: absolute; top: -100px; left: -150px;
}
.intro > .song {
  position: absolute; right: 0; bottom: 0;
}
.intro > .portpoliotxt {
  position: absolute; top: 30%; left: 0;
}
.intro .text-box {
  border: 0px solid red;
  width: 1440px; z-index: 3;
}
.intro .text-box > span {
  font-size: 178px;
  font-family: PretendardBl;
  letter-spacing: -6px;
}
.intro .text-box > p {
  font-size: 52px; 
  letter-spacing: -3px;
}
.intro .text-box > p > span {
  font-family: 'GmarketSansB';
  font-size: 52px; 
}

.top-bar-section {
  width: 100%; border-bottom: 1px solid hsla(0, 22%, 19%,0.4);
  z-index: 99; position: absolute; top: 0;
}
.top-bar-section > .container {
  width: 1440px; height: 125px;
  margin: 0 auto; display: flex; align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.top-bar-section > .container > .logo {
  width: 100px;
}
.top-bar-section > .container > .logo > a > img {
  width: 100%; 
}
nav > ul {
  display: flex; align-items: center;
  gap: 20px;
}
nav > ul > li > a {
  font-family: 'PretendardR';
  font-size: 22px;
}
nav > ul > li > a:hover {
  font-family: 'PretendardBo';
}

.profile {
  width: 100%; height: 980px;
  display: flex; align-items: center;
}
.profile > .container {
  width: 1440px; display: flex; border: 0px solid red;
  margin-left: auto; margin-right: auto;
}
.profile .photo {
  width: 40%; 
}
.profile .photo > .img-box {
  width: 70%; border: 1px solid #3d2727;
  height: 90%; margin: 0 auto; 
}
.profile .photo > .img-box > img {
  width: 100%; height: 100%; object-fit: cover;
}
.profile > .container > .text-box {
  flex-grow: 1; flex-basis: 0;
  border: 0px solid orange;
  display: flex;
}
.profile > .container > .text-box > div {
  flex-grow: 1; flex-basis: 0; border: 0px solid red;
}
.profile > .container > .text-box > .left-box > .name {
  border: 0px solid green;
  margin-bottom: 45px;
}
.profile > .container > .text-box  > .left-box > .name > p {
  font-size: 24px;
  font-family: 'PretendardR';
  
}
.profile > .container > .text-box > .left-box > .name > span {
  font-size: 58px; font-family: 'GmarketSansB'; margin: 0;
}
.profile > .container > .text-box > .left-box > .phonemail {
  border: 0px solid blue;
  margin-bottom: 100px;
}
.profile > .container > .text-box > .left-box > .phonemail > p {
  font-size: 24px; margin-bottom: 18px;
  font-family: 'PretendardR';
}
.profile > .container > .text-box > .left-box > .phonemail > p > span {
  font-family: 'PretendardBo';
}
.profile > .container > .text-box > .left-box > .skills {
  border: 0px solid violet;
}
.profile > .container > .text-box > .left-box > .skills > span {
  padding: 10px 30px; background-color: #3d2727;
  color: #f9d25d; font-size: 26px; border-radius: 50px;
  font-family: 'PretendardM'; margin-bottom: 20px;
  display: inline-block; box-sizing: border-box;
}
.profile > .container > .text-box > .left-box > .skills > .img-box {
  display: flex; gap: 11px;
}
.profile > .container > .text-box > .right-box > .experience {
  margin-bottom: 50px;
}
.profile > .container > .text-box > .right-box > .experience > span {
  padding: 10px 30px; background-color: #3d2727; box-sizing: border-box;
  color: #f9d25d; font-size: 26px; border-radius: 50px;
  font-family: 'PretendardM'; margin-bottom: 20px;
  display: inline-block; box-sizing: border-box;
}
.profile > .container > .text-box > .right-box > .experience > div {
  display: flex; margin-bottom: 16px; gap: 22px; border: 0px solid red;
}
.profile > .container > .text-box > .right-box > .experience > div > span {
  display: block; margin: 0;
  font-family: 'GmarketSansB';
}
.ex-1 > span {
  margin-right: 3px;
}
.profile > .container > .text-box > .right-box > .work {
  border: 0px solid coral;
}
.profile > .container > .text-box > .right-box > .work > span {
  padding: 10px 30px; background-color: #3d2727;
  color: #f9d25d; font-size: 26px; border-radius: 50px;
  font-family: 'PretendardM'; margin-bottom: 20px;
  display: inline-block; box-sizing: border-box;
}
.profile > .container > .text-box > .right-box > .work > div {
  margin-bottom: 18px;
}
.profile > .container > .text-box > .right-box > .work > div > span {
  font-family: 'GmarketSansB'; margin-bottom: 16px;
}

.con-web-intro {
  width: 100%; height: 880px;
  background-image: linear-gradient(to bottom right, #0e6ba8, #105d90);
  position: relative; padding-top: 120px; 
}
.con-web-intro > .circle-1 {
  position: absolute; left: 0; top: 0;
}
.con-web-intro > .circle-2 {
  position: absolute; right: 0; bottom: 0;
}
.con-web-intro > .container {
  width: 1440px; margin-left: auto; margin-right: auto;
  border: 0px solid red;
}
.con-web-intro > .container > span {
  font-size: 72px;
  font-family: 'PretendardBl';
  color: #ecc252; position: relative;
}
.con-web-intro > .container > .illust-container {
  display: flex; border: 0px solid orange;
  position: absolute; bottom: 47px; z-index: 2;
}
.con-web-intro > .table {
  width: 100%; height: 17%; background-color: #ddd7c8;
  position: absolute; bottom: 0;
}
.con-web-intro > .web-song {
  position: absolute; bottom: 50px; left: 14%;
}
.con-web-intro > .title {
  position: absolute; right: 14%; top: 20%;
}

.swiper {
  width: 100%;
  height: 980px;
}
.swiper-slide {
  padding-top: 100px; padding-bottom: 100px; box-sizing: border-box;
}
.swiper-slide > .container {
  width: 1440px; margin-left: auto; margin-right: auto;
  display: flex; height: 100%;
}
.swiper-section-1 .container > .text-box {
  width: 45%; border: 0px solid red; height: 100%;
  padding-top: 100px; box-sizing: border-box;
}
.swiper-section-1 .container > .text-box > .main-text {
  border: 0px solid green;
  margin-bottom: 56px;
}
.swiper-section-1 .container > .text-box > .main-text > p {
  font-family: 'PretendardR';
  font-size: 30px;
}
.swiper-section-1 .container > .text-box > .main-text > span {
  font-family: 'GmarketSansB';
  font-size: 48px;
}
.swiper-section-1 .container > .text-box > .sub-text {
  border: 0px solid blue;
  margin-bottom: 56px;
}
.swiper-section-1 .container > .text-box > .sub-text > p {
  font-size: 22px; margin-bottom: 77px;
}
.swiper-section-1 .container > .text-box > .sub-text > .text-container {
  display: flex; gap: 27px; margin-bottom: 35px;
}
.swiper-section-1 .container > .text-box > .sub-text > .text-container > div {
  display: flex; gap: 15px;
}
.swiper-section-1 .container > .text-box > .sub-text > .text-container > div > span {
  font-size: 22px;
}
.swiper-section-1 .container > .text-box > .sub-text > .text-container > div > p {
  font-size: 22px; font-family: 'GmarketSansL';
}
.swiper-section-1 .container > .text-box > .sub-text > .tools {
  margin-bottom: 54px;
}
.swiper-section-1 .container > .text-box > .sub-text > .tools > p {
  font-size: 22px; margin-bottom: 14px;
}
.swiper-section-1 .container > .text-box > .sub-text > .tools > ul {
  display: flex; border: 0px solid indigo; padding: 0; margin: 0; gap: 9px;
  box-sizing: border-box;
}
.swiper-section-1 .container > .text-box > .sub-text > .tools > ul > li > img {
  height: 47px;
}
.swiper-section-1 .container > .text-box > .sub-text > .button > a {
  padding: 10px 30px; background-color: #ecc252; color: #fff;
  font-family: 'PretendardBo'; font-size: 22px; border-radius: 50px;
  box-sizing: border-box; margin-right: 7px;
}
.swiper-section-1 .container > .img-box {
  width: 55%; border: 0px solid orange; height: 100%;
  display: flex; align-items: center; justify-content: flex-end;
}

.swiper-section-2 .container > .text-box {
  width: 40%; border: 0px solid red; height: 100%;
  padding-top: 100px; box-sizing: border-box;
}
.swiper-section-2 .container > .text-box > .main-text {
  border: 0px solid green;
  margin-bottom: 56px;
}
.swiper-section-2 .container > .text-box > .main-text > p {
  font-family: 'PretendardR';
  font-size: 30px;
}
.swiper-section-2 .container > .text-box > .main-text > span {
  font-family: 'GmarketSansB';
  font-size: 48px;
}
.swiper-section-2 .swiper-slide-3 > .container > .text-box > .main-text > span {
  font-size: 46px; letter-spacing: -3px;
}
.swiper-section-2 .container > .text-box > .sub-text {
  border: 0px solid blue;
  margin-bottom: 56px;
}
.swiper-section-2 .container > .text-box > .sub-text > p {
  font-size: 22px; margin-bottom: 77px;
}
.swiper-section-2 .container > .text-box > .sub-text > .text-container {
  display: flex; gap: 27px; margin-bottom: 35px;
}
.swiper-section-2 .container > .text-box > .sub-text > .text-container > div {
  display: flex; gap: 15px;
}
.swiper-section-2 .container > .text-box > .sub-text > .text-container > div > span {
  font-size: 22px;
}
.swiper-section-2 .container > .text-box > .sub-text > .text-container > div > p {
  font-size: 22px; font-family: 'GmarketSansL';
}
.swiper-section-2 .container > .text-box > .sub-text > .tools {
  margin-bottom: 54px;
}
.swiper-section-2 .container > .text-box > .sub-text > .tools > p {
  font-size: 22px; margin-bottom: 14px;
}
.swiper-section-2 .container > .text-box > .sub-text > .tools > ul {
  display: flex; border: 0px solid indigo; padding: 0; margin: 0; gap: 9px;
  box-sizing: border-box;
}
.swiper-section-2 .container > .text-box > .sub-text > .tools > ul > li > img {
  height: 47px;
}
.swiper-section-2 .container > .text-box > .sub-text > .button > a {
  padding: 10px 30px; background-color: #ecc252; color: #fff;
  font-family: 'PretendardBo'; font-size: 22px; border-radius: 50px;
  box-sizing: border-box;
}
.swiper-section-2 .container > .img-box {
  width: 60%; border: 0px solid orange; height: 100%;
  display: flex; align-items: center; justify-content: flex-end;
  padding-top: 40px; box-sizing: border-box;
}
.swiper-section-2 .container > .img-box > img {
  width: 100%;
}

.ux-ui {
  width: 100%;
  height: 980px; box-sizing: border-box;
  padding-top: 100px; padding-bottom: 100px; box-sizing: border-box;
}
.ux-ui > .container {
  width: 1440px; margin-left: auto; margin-right: auto;
  display: flex; height: 100%; border: 0px solid red;
}
.ux-ui > .container > .text-box {
  width: 45%; border: 0px solid red; height: 100%;
  padding-top: 100px; box-sizing: border-box;
}
.ux-ui > .container > .text-box > .main-text {
  border: 0px solid green;
  margin-bottom: 56px;
}
.ux-ui > .container > .text-box > .main-text > p {
  font-family: 'PretendardR';
  font-size: 30px;
}
.ux-ui > .container > .text-box > .main-text > span {
  font-family: 'GmarketSansB';
  font-size: 48px;
}
.ux-ui > .container > .text-box > .sub-text {
  border: 0px solid blue;
  margin-bottom: 56px;
}
.ux-ui > .container > .text-box > .sub-text > p {
  font-size: 22px; margin-bottom: 77px;
}
.ux-ui > .container > .text-box > .sub-text > .text-container {
  display: flex; gap: 27px; margin-bottom: 35px;
}
.ux-ui > .container > .text-box > .sub-text > .text-container > div {
  display: flex; gap: 15px;
}
.ux-ui > .container > .text-box > .sub-text > .text-container > div > span {
  font-size: 22px;
}
.ux-ui > .container > .text-box > .sub-text > .text-container > div > p {
  font-size: 22px; font-family: 'GmarketSansL';
}
.ux-ui > .container > .text-box > .sub-text > .tools {
  margin-bottom: 54px;
}
.ux-ui > .container > .text-box > .sub-text > .tools > p {
  font-size: 22px; margin-bottom: 14px;
}
.ux-ui > .container > .text-box > .sub-text > .tools > ul {
  display: flex; border: 0px solid indigo; padding: 0; margin: 0; gap: 9px;
}
.ux-ui > .container > .text-box > .sub-text > .tools > ul > li > img {
  height: 47px;
}
.ux-ui > .container > .text-box > .sub-text > .button > a {
  padding: 10px 30px; background-color: #ecc252; color: #fff;
  font-family: 'PretendardBo'; font-size: 22px; border-radius: 50px;
  box-sizing: border-box;
}
.ux-ui > .container > .img-box {
  width: 55%; border: 0px solid orange; height: 100%;
  display: flex; align-items: center; justify-content: flex-end;
}
.ux-ui > .container > .img-box > img {
  width: 80%; margin-right: auto; margin-left: auto;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: #ecc252;
}
.swiper > .swiper-button-prev {
  color: #ecc252; margin-left: 30px;
}
.swiper > .swiper-button-next {
  color: #ecc252; margin-right: 30px;
}

.con-graphic-intro {
  width: 100%; height: 880px;
  background-image: linear-gradient(to bottom right, #f9d25d, #f4c551);
  position: relative; padding-top: 120px; 
}
.con-graphic-intro > .circle-1 {
  position: absolute; left: 0; top: 0;
}
.con-graphic-intro > .circle-2 {
  position: absolute; right: 0; bottom: 0;
}
.con-graphic-intro > .container {
  width: 1440px; margin-left: auto; margin-right: auto;
  border: 0px solid red;
}
.con-graphic-intro > .container > span {
  font-size: 72px;
  font-family: 'PretendardBl';
  color: #3d2727; position: relative;
}
.con-graphic-intro > .container > .illust-container {
  display: flex; border: 0px solid orange;
  position: absolute; bottom: 29px; z-index: 2;
}
.con-graphic-intro > .table {
  width: 100%; height: 17%; background-color: #ddd7c8;
  position: absolute; bottom: 0;
}
.con-graphic-intro > .web-song {
  position: absolute; bottom: 50px; left: 14%;
}
.con-graphic-intro > .title {
  position: absolute; right: 14%; top: 20%;
}

.graphic-contents {
  width: 100%; 
  padding-top: 100px; box-sizing: border-box;
}
.graphic-contents > .container {
  width: 1440px; margin: 0 auto; border: 0px solid red;
}
.graphic-contents > .container > div {
  margin-bottom: 140px;
}
.graphic-contents > .container > div {
  border: 0px solid orange;
}
.graphic-contents > .container > div > span {
  font-size: 48px; font-family: 'PretendardBo';
}
.graphic-contents > .container > div > .con-container {
  display: flex; gap: 35px; margin-top: 55px;
}
.graphic-contents .con-container > div {
  flex-grow: 1; flex-basis: 0; 
  text-align: center; 
}
.graphic-contents .img-box {
  border-radius: 24px; width: 100%; height: 450px;
  background-color: #ddd7c8; margin-bottom: 40px;
}

.graphic-contents .img-box > a > img {
  width: 100%; height: 100%; object-fit: cover;
  border-radius: 24px;
}
.graphic-contents .text-box {
  width: 100%;
}
.graphic-contents .text-box > span {
  font-size: 26px; font-family: 'GmarketSansB'; letter-spacing: -1px;
}
.graphic-contents .text-box > p {
  font-size: 22px; letter-spacing: -2px; margin-top: 20px; margin-bottom: 37px;
}
.graphic-contents .text-box > a {
  padding: 10px 30px; background-color: #ecc252; color: #fff;
  font-family: 'PretendardBo'; font-size: 22px; border-radius: 50px;
  box-sizing: border-box;
}

.contact {
  width: 100%;  padding-top: 100px; padding-bottom: 100px; box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #f9d25d, #f4c551);
}
.contact > .container {
  width: 1440px; border: 0px solid red;
  margin: 0 auto;
}
.contact > .container > span {
  font-size: 72px; display: block;
  font-family: 'PretendardBl'; margin-bottom: 16px; 
  color: #3d2727; position: relative;
}
.contact > .container > p {
  margin-bottom: 24px; 
}
.contact .way {
  display: flex;  justify-content: flex-start; gap: 30px;
  
}
.contact .way > div {
  background-color: #f7f3ec; padding: 10px 20px; box-sizing: border-box;
  border-radius: 50px;
}
.contact .way > div > a {
  font-size: 20px;
}

.scroll-top {
  background-color:  hsla(0, 22%, 20%,0.6);
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  width: 80px; height: 80px; border-radius: 50%;
  position: absolute;
  top: 85%; right: 30px;
  z-index: 999; 
}
.scroll-top:hover {
  cursor: pointer;
}
.scroll-top > img {
  width: 40px; height: 40px;
  margin: 20px auto; 
}